@startuml
left to right direction
' Horizontal lines: -->, <--, <-->, x-->, ..
' Vertical lines: ->, <-, <->

title
 <u>售后相关规则整理</u>
 <u>备注</u>
<font color=red> ... </font> 代表 挖掘出潜在缺少的规则
 on <i>several</i> lines and using <font color=red>html</font>
 This is hosted by <img:sourceforge.jpg>
end title

{% for package_info in package_infos %}

package {{package_info.domain}} {

    {% for table_info in package_info.table_infos %}
    map {{table_info.table_name}} {
    }
    {% endfor %}
}
{% endfor %}

{% for chain in chains %}
{{chain.start}}.{{chain.arrow}}.{{chain.end}}.{{chain.tag1}}.{{chain.tag2}}.{{chain.tag3}}.{{chain.tag4}}
{% if chain.fields_flag -%}
 note right
    {{chain.rule_id}}
    where:
 {% for field in chain.fields  %}
 {{field.table_name}}
 {% for item in field.fields_name %}
 {{item}}}
{% endfor %}
 {% endfor %}
 end note
{% endif -%}
{% endfor %}


@enduml